
.form__button {
    padding: 10px;
    background-color: hsl(221, 79%, 60%);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}

.form__button:hover {
    background: hsl(221, 79%, 55%);
    transform: scale(1.05);
}

.form__button:active {
    background-color: hsl(221, 79%, 50%);
}