.buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 540px) {
    .buttons {
        flex-basis: 100%;
    }
}

.buttons__button {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: hsl(221, 79%, 55%);
    transition: color 0.5s;
}

@media (max-width: 540px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 20px 0px 0px 0px;
    }
}

.buttons__button:hover {
    color: hsl(221, 79%, 40%);
}

.buttons__button:active {
    color: hsl(221, 79%, 30%);
}

.buttons__button:disabled {
    color: gray;
}